.services, .portfolio, .home, .contact, .blog, .about, .aboutme {
    width: 80vw;
    height: 100vh;
    margin-left: 20vw;
    background-color: #170000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}